*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212212;
    color: #ffffff;
    height: 100vh;
}
#clock{
    background-color: orange;
}
.box{
    height: 100vh;
}